.section {
  padding-top: 94px;
  padding-bottom: 94px;

  &--no-top-padding {
    padding-top: 0;
  }

  &--secondary {
    background-color: $secondary-bg-color;
  }
}

.section__title {
  margin-top: 0;
  margin-bottom: 50px;
  color: $title-text-color;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
